<nav>
    <ul class="navbar">
        <li><a href="/"> <img src="/img/iw2.png" width="200" height="40" alt="IW-Logo" /></a></li>
        <br>
        <li id="navs"><a href="/resource">Create a New Asset</a></li>
        <li id="navs"><a href="/read">Get asset data</a></li>
        <li id="navs"><a href="/update">Update an asset</a></li>
        <li id="navs"><a href="/delete">Delete an asset</a></li>
    </ul>
</nav>